.About{
  .aboutH4{
    h4{
      font-size: 25px;
      color: #414948;
      text-transform: uppercase;
      font-family: RobotoCondensed;
    }
  }
  .aboutUs{
    color: #414948;
    font-size: 15px;
    font-family: 15px;
  }
}
