.HistoryText{

  h6{
    font-family: OpenSansRegular;
    font-size: 15px;
    font-weight: bold;
    color: #414948;
    width: 100%;
  }
  p{
    font-family: OpenSansRegular;
    font-size: 15px;
    width: 100%;
    color: #414948;
  }
}
