.person {
  display: inline-block !important;
  width: 20%;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  text-align: center;
  vertical-align: top;
  padding-top: 4px;
  color: black;
  .top {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 43%;
    width: 14px;
    height: 8px;
    background-image: url('../../images/up.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 100ms;
    cursor: pointer;
  }

  .bottom {
    opacity: 0;
    position: absolute;
    top: 34px;
    left: 43%;
    width: 14px;
    height: 8px;
    background-image: url("../../images/down.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 100ms;
    cursor: pointer;
  }
}
.person:hover{
  .top{
    opacity: 1;
  }
  .bottom{
    opacity: 1;
  }
}

.person:before{
  content: url("../../images/users.png");
  position: relative;
  top: 3px;
  left: -10px;
}

@media (max-width: 1200px) {
  .person{
    min-width: 237px;
    border-radius: 30px;
    box-shadow: 0 0 5px #eee;
    padding-top: 10px;
    height: 50px;
    margin-top: 32px;
    .top{
      top: 7px;
    }
    .bottom{
      top: 37px;
    }
  }
}
@media (max-width: 775px){
  .person{
    width: 280px;
  }
}
