
@font-face {
  font-family: RobotoCondensed_Light;
  src: url("../../../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}
@font-face {
  font-family: Roboto_Black;
  src: url("../../../fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto_Bold;
  src: url("../../../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: RobotoRegular;
  src: url("../../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: RobotoCondensed;
  src: url("../../../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
//@font-face {
//  font-family: ComfortaaRegular;
//  src: url("../../../fonts/Comfortaa/Comfortaa-Regular.ttf");
//}
//@font-face {
//  font-family: ComfortaaLight;
//  src: url("../../../fonts/Comfortaa/Comfortaa-Light.ttf");
//}
@font-face {
  font-family: RobotoMedium;
  src: url("../../../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: RobotoLight;
  src: url("../../../fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: RobotoCondensedBold;
  src: url("../../../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: OpenSansRegular;
  src: url("../../../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: GilroyLight;
  src: url("../../../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf");
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("../../../fonts/Gilroy-FREE/Gilroy-FREE/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: OpenSansSemiBold;
  src: url("../../../fonts/Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSansBold;
  src: url("../../../fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
  font-family: OpenSansLight;
  src: url("../../../fonts/Open_Sans/OpenSans-Light.ttf");
}
