.show2{
  opacity: 1 !important;
  z-index: 3 !important;
  width: 100%;
  height: 100%;

  transition: 500ms;
}
.modalWindow{
  transition: 500ms;
  opacity: 0;
  z-index: -1;
  .BlackFilter{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;

  }
  .show3{
    transition: 500ms;
    transform: translateY(0%) !important;
  }
  .createComment{
    transform: translateY(100%);
    transition: 500ms;
    z-index: 5;
    height: 80%;
    width: 40%;
    position: fixed;
    top: 10%;
    left: 30%;
    .FilterImage{
      width: 100%;
      height: 30%;
      position: relative;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      .Image{
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background-image: url("../../../../img/123.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        background-position: center;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        h3{
          z-index: 2;
          color: white;
          font-family: RobotoMedium;
        }
        img{
          height: 15px;
          width: 15px;
          position: absolute;
          top: 15px;
          right: 18px;
          z-index: 5;
          cursor: pointer;
        }
      }
      .Filter{
        width: 100%;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: black;
        opacity: 0.2;
        z-index: 1;
      }
    }

    .Content{
      z-index: 5;
      width: 100%;
      height: 70%;
      background-color: white;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .allInput{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        p{
          padding-left: 56px;
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 18px;
          color: #414948;
          font-family: RobotoRegular;
        }
        .input{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;
          position: relative;
          .but{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: 20px;
            left: 0;
            button{
              text-align: center;
              width: 190px;
              height: 30px;
              border: none;
              outline: none;
              background: #E74C3C;
              font-family: GilroyLight;
              text-decoration: none;
              color: white;
              -webkit-border-radius: 22px;
              -moz-border-radius: 22px;
              border-radius: 22px;
            }
          }
          input{
            margin: 10px 0;
            color: #414948;
            padding-left: 15px;
            width: 80% !important;
            height: 30px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            border: none;
            box-shadow: 0 2px 3px rgba(65, 73, 72, 0.1);
            -webkit-appearance: none;
            &:focus{
              border: none !important;
              outline: none !important;
            }
          }
          textarea{
            margin: 10px 0;
            color: #414948;
            padding-left: 15px;
            width: 80% !important;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            border: none;
            box-shadow: 0 2px 3px rgba(65, 73, 72, 0.1);
            -webkit-appearance: none;
            &:focus{
              border: none !important;
              outline: none !important;
            }

          }
        }
      }
    }
  }

}
@media (max-width: 994px){
  .modalWindow{
    .createComment{
      height: 90%;
      width: 60%;
      top: 5%;
      left: 20%;
    }
  }
}
@media (max-width: 774px){
  .modalWindow{
    .createComment{
      width: 80%;
      left: 10%;
      height: 90%;
      top: 5%;
    }
  }
}
@media (min-width: 374px) and (max-width: 573px) {
  .modalWindow{
    .createComment{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

    }
  }
}
@media (max-width: 373px) {
  .modalWindow{
    .createComment{
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

    }
  }
}
