.Fact{
  h1{
    font-size: 110px;
    color: #E74C3C;
    opacity: 0.5;
  }
  h6{
    font-family: OpenSansLight;
    color: #414948;
    font-weight: bold;
    font-size: 16px;
  }
  P{
    color: #414948;
    font-family: OpenSansLight;
    font-size: 16px;
  }
}@media (max-width: 767px){
  .Fact{
    h1{
      font-size: 90px;
    }
  }
}
