.next{
  background-image: url("../../../img/icons/arrow_grey_right.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: none;
  outline: none;
}
